@import '../main';

main {
    p {
        font-size: 0.3em;
        text-align: center;
        margin: 10px 0;
        padding: 1%;
    }

    section {
        background: #f1f1f1;
        h2 {
            text-align: center;
            padding: 3% 0;
            font-size: 3em;
            z-index: 10;
        }

        .recipes {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            padding: 2%;
            width: 100%;

            .recipe {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2% .5em;

                img {
                    height: 400px;
                    object-fit: cover;
                }

                p {
                    font-size: 1.2em;
                }
            }
        }
    }
}

// desktops/tablets
@media all and (min-width: 1025px) {
    section {
        .recipes {
            .recipe {
                img {
                    width: 30vw;
                }
            }
        }
    }
}

//mobile
@media all and (max-width: 1024px) {
    section {
        .recipes {
            .recipe {
                img {
                    width: 90vw;
                }
            }
        }
    }
}