@import '../main';

body {
    display: flex;
    flex-flow: row wrap;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.3em;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        object-fit: contain;
    }
}

.info {
    background-color: #4fb9e2;

    .info-text {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 5%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .metadata {
            width: 100%;
            padding: 3% 0 3% 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: flex-start;
            
            .pod {
                padding: 2%;
                display: flex;
                flex-flow: row nowrap;

                i {
                    margin-right: 7px;
                    margin-top: 3px;
                }

                p {
                    font-size: 0.9em;
                }
            }
        }

        p {
            width: 100%;
        }
    }
}

// desktop/tablet
@media all and (min-width: 1024px) {
    main {
        height: 100vh;
        width: 100vw;
    }
    h2 {
        font-size: 3.5em;
    }
    .img-wrapper {
        width: 50%;
        height: 100%;
        img {
            height: 100%;
            width: auto;
        }
    }
    .info {
        width: 50%;
        height: 100%;

        .info-text {
            .pod {
                width: 30%;
            }
        }
    }
}

// mobile
@media all and (max-width: 1023px) {
    main {
        height: 100%;
        width: 100%;
    }
    h2 {
        font-size: 2.5em;
        text-align: center;
    }
    .img-wrapper {
        width: 100vw;
        height: 600px;

        img {
            height: auto;
            max-height: 600px;
            width: 100%;
        }
    }
    .info {
        width: 100%;
        height: auto;
        padding: 30px 0;

        .info-text {
            .pod {
                width: 100%;
                padding: 15px 0 30px 0;
            }
        }
    }
}