@import '../main';

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
        text-align: center;
        padding: 5% 0;
    }

    #penultimate {
        width: 70%;
    }

    .salutations {
        margin-top: 5%;
        padding-bottom: 5%;

        #signoff {
            font-size: 1.4em;
        }

        

        .identity {
            #signature {
                width: 200px;
                height: auto;
            }
            // #photoID {
            //     height: 8em;
            //     width: auto;
            //     float: left;
            //     padding-right: 3%;
            // }
            #name {
                font-size: 1.8em;
            }
            #subname {
                font-size: 1.1em;
            }
        }
    }
}