@import '../main';

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
        text-align: center;
        padding: 5% 0;
    }

    .salutations {
        margin-top: 5%;
        padding-bottom: 5%;

        .identity {
            #signature {
                width: 200px;
                height: auto;
            }
            #name {
                font-size: 1.8em;
            }
        }
    }
}