main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}