@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.5em;
}

p {
  font-size: 1em;
}

.title {
  width: 100%;
  padding: 1% 3%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
.title p {
  margin-left: 1%;
  margin-bottom: 1.6%;
}

.content {
  min-height: 800px;
  width: 100%;
  padding: 1% 3%;
}

.menu {
  width: 100%;
  padding: 0 3% 1% 3%;
}
.menu hr {
  height: 3px;
  background-color: black;
}
.menu nav {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu nav a {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  padding: 1%;
  text-decoration: none;
  color: black;
}
.menu nav a:hover {
  cursor: pointer;
}
.menu nav #toggle {
  cursor: pointer;
  border: none;
  background: white;
  padding: 1%;
}
.menu nav #toggle:active {
  background: transparent;
}
.menu nav #toggle:focus {
  outline: none;
}
.menu nav .bars {
  background: black;
  display: inline-block;
  position: relative;
  height: 2px;
  width: 18px;
}
.menu nav .bars:before, .menu nav .bars:after {
  content: "";
  background: black;
  display: inline-block;
  height: 2px;
  width: 18px;
  position: absolute;
}
.menu nav .bars:before {
  top: 5px;
  left: 0;
}
.menu nav .bars:after {
  top: -5px;
  left: 0;
}

footer {
  background: black;
  color: white;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
footer .foot-info img {
  width: 50px;
  float: left;
  margin-right: 10px;
}
footer .foot-info .text {
  float: right;
}
footer .foot-info .text .small {
  font-size: 0.5em;
}
footer .links {
  display: flex;
  flex-direction: column;
}
footer .links a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 7px;
}

@media all and (min-width: 768px) {
  .menu nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .menu nav a {
    text-align: center;
    display: block;
    width: auto;
    order: 1;
    display: block;
  }
  .menu nav a:active {
    background-color: whitesmoke;
  }
  .menu #toggle {
    display: none;
  }

  footer .info img {
    margin-top: -20px;
  }
}
@media all and (max-width: 767px) {
  .title {
    padding-top: 1%;
    position: relative;
    order: 2;
  }
  .title p {
    margin-top: 5%;
    width: 100%;
    text-align: right;
  }

  .menu {
    order: 1;
    position: relative;
    transition: all 0.5s ease;
    padding-bottom: 0;
  }
  .menu nav {
    margin-top: 2%;
    margin-bottom: -1%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .menu nav a {
    margin-top: 2%;
    width: 100%;
    text-align: right;
    order: 2;
    display: none;
    transition: all 0.3s ease;
  }
  .menu nav a:nth-child(1) {
    margin-top: 5%;
  }
  .menu nav a:hover {
    background-color: whitesmoke;
  }
  .menu #toggle {
    order: 1;
  }

  main {
    position: relative;
    order: 3;
  }

  footer {
    position: relative;
    order: 4;
  }
  footer .info img {
    margin-top: 0px;
  }
}
main {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  padding: 5%;
}
form h3 {
  text-align: center;
}
form input {
  padding: 1%;
  border: solid grey 1px;
  border-radius: 3px;
}
form label {
  margin-top: 5%;
}
form .name, form .birthday {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
form .name input {
  width: 49%;
}
form .birthday select {
  padding: 1%;
}
form .birthday #month {
  width: 40%;
}
form .birthday #day {
  width: 25%;
}
form .birthday #year {
  width: 35%;
}
form button {
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  padding: 1.5%;
  margin-top: 5%;
  border: none;
  border-radius: 4px;
  transition: all ease 0.3s;
}
form button:hover {
  color: #f84040;
  transform: scale(1.1);
}
form button:hover:before {
  top: 0;
}
form button:active {
  color: #e63737;
  transform: scale(0.9);
}
form button:focus {
  outline: none;
}
form button:before {
  content: "";
  position: absolute;
  background: black;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.3s ease;
}

/*# sourceMappingURL=subscribe.css.map */
